/*
#B1B2FF
#AAC4FF
#D2DAFF
#EEF1FF
*/
body{
    background-color: white;
    margin: 0;
}
.name{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 6rem;
    margin: 0;
    padding-top: 200px;
    color: #66BFBF;
}
.hello{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: #66BFBF;
}
h2{
    font-weight: normal;
}
h1{
    line-height: 0.5;
}
h3{
    color: #66BFBF;
}
.skill{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    width: 90%;
    height: 400px;
    line-height: 2;
    font-size: 1.5em;
    margin: 50px;
    box-sizing: border-box;
}
.comp{
    padding: 30px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    margin: 0;
    width: 25%;
    height: auto;
    float:left;
}
.two{
    float:right;
}
.cloud1{
    position:absolute;
    right: 90px;
    top:30px;
    
}
.cloud2{
    position:absolute;
    left: 50px;
}
.mountain{
    display: flex;
    margin: 150px auto 0 auto;
}
.dots{
    color: #66BFBF;
    margin-top: 150px;
    border-style: dotted none none none;
    border-width: 0.5rem;
    width: 15%;
}
.btn {
    display: flex;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    background: #11999E;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin:90px auto 90px auto;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  h2{
    text-align: center;
    color: #66BFBF;
  }
  .footer{
    background-color: #f6f8c5;
    padding: 30px;
  }
  .mailme{
margin-top: 90px;
  }
  .background{
    height: 100v;
    background-color: #f6f8c5;
  }