body {
  margin: 0;
  padding: 0;
  background-image: url("https://imgs.search.brave.com/vgWe2FGWv4LWMborSU9KHlHddlE765M9leK1AEcvdm8/rs:fit:948:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5U/d3NzSHdLNGY3blNq/LUpyQ0dzeDdBSGFE/dCZwaWQ9QXBp");
  background-size: contain;
}
.markus{color: white;}