body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

/* Heading*/

.big-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.container-fluid {
    padding: 3% 15%;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
    color: black;
}


/*Navigation Bar*/

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0 18px 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Title */
#title {

    text-align: left;
}

.title-txt {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

#title .title-container {
    padding: 3% 7% 3%;
}

.container {
    padding-left: 0;
}

.title-img {
    position: absolute;
    width: 20vw;
    right: 15%;
    transform: rotate(25deg);
}


/*Download Buttons */
.downloadbtn {
    margin: 5% 3% 5% 0%;
}

/* Features */
#features {

    position: relative;
    padding: 3rem;
    z-index: 1;
}

.container {
    width: 100%;
}

.featuresdiv {
    z-index: 1;
}

.featuresimg {
    color: #ef8172;
    font-size: 4rem;
    margin: 20px auto 20px auto;
}

.featuresimg:hover {
    color: #ff4c68;
}

.featuresh3 {
    margin-top: 1rem;
    font-weight: 900;
    font-size: 1.5rem;
}

.featuresp {
    color: #8f8f8f;
}


/* Testimonials */

#testimonials {
    background-color: #ef8172;
    color: white;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.testi-img {
    margin: 20px;
    border-radius: 50%;
    width: 10%;
}

/* Press */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.pressimg {
    width: 15%;
    margin: 20px 20px 50px;
}

/* price */
#pricing {
    padding: 50px;
}

.pricingcard {
    padding: 3% 2%;
    margin: 3% 2%;
}

.price-txt {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

@media (max-width:992px) {
    #title {
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(0);
        margin: auto;
    }
}

/*  CTA */
#cta {
    padding-top: 2rem;
}

.ctatxt {
    font-size: 4rem;
    font-weight: 900;
}

/* footer */
#footer {
    padding: 1rem;
    padding-top: 3rem;
}

.footerbrand {
    padding-left: 5%;
    margin-bottom: 2rem;
}