<%- include("header") -%>
<h2>This is the About Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error sit, voluptate aut ea corrupti eaque at modi quam amet culpa cum minima vitae vel, dolores odit, ab sint ipsa. Deleniti nisi iure obcaecati at praesentium, commodi nihil. Consequuntur perspiciatis ea reiciendis eveniet tempore, reprehenderit consectetur repellat sunt recusandae officia doloribus eos totam, et laudantium autem at dolores iusto deleniti mollitia.</p>
<%- include("footer") -%>